
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">SISTEMA DE ACREDITACIÓN</span>
                    <button class="btn btn-success float-end" routerLink="/login">Iniciar Sesión</button>                        
                </div>
            </div>
        </div>
        <div class="col-lg-8 offset-lg-2 crud">
            <div class="card">
                <div class="card-body text-center">
                    <span class="subTitulo">USUARIO</span>
                    <button class="btn btn-success float-end" routerLink="/usuario">Opciones</button>                        
                </div>
                <div class="card-body text-center" style="margin-top:20px">
                    <span class="subTitulo">REGISTRO</span>
                    <button class="btn btn-success float-end" routerLink="/registros">Opciones</button>                        
                </div>
                <div class="card-body text-center" style="margin-top:20px">
                    <span class="subTitulo">UNIDADES</span>
                    <button class="btn btn-success float-end" routerLink="/unidades">Opciones</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

